<style>
  body {
    cursor: none;
  }

  #custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;   /* adjust size */
    height: 32px;
    pointer-events: none;
    z-index: 9999999;
    transform: translate(-50%, -50%);
  }
</style>
